<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:security="http://www.springframework.org/security/tags"
        xmlns:c="http://java.sun.com/jsp/jstl/core">
<%@ page isELIgnored="false" %>

<head>
    <meta charset="UTF-8"/>
    <title>Fragments</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"
            integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH"
            crossorigin="anonymous"></script>

</head>
<body>
<div th:fragment="add">
    <form class="form-horizontal" role="form" method="POST" th:action="@{/admin/add}">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Register New User</h2>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Login</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" th:name="username" class="form-control" id="name"
                               placeholder="Your name" required="true" autofocus="true"/>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" th:name="password" class="form-control" id="password"
                               placeholder="Password" required="true"/>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="userRole">Role:</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>

                        <select class="form-control" th:name="roles" id="userRole" multiple="multiple">
                            <option value="user">user</option>
                            <option value="admin">admin</option>
                        </select>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus"></i> Add new user</button>
            </div>
        </div>
    </form>

</div>

<div th:fragment="menu">
<div class="container-fluid">

</div>
</div>

<div th:fragment="header">
    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">

        <a class="navbar-brand" href="#">Project name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav side-nav bg-white">
<!--                Roles: <div th:text="${user.roles.contains('USER')}">${user.roles.contains('USER')}</div>-->

                <div th:if="${is_admin}">
                    <li class="nav-item">
                        <a class="nav-link text-primary" th:href="@{/admin/show}">Admin</a>
                    </li>
                </div>



                <li class="nav-item">
                    <a class="nav-link text-primary" href="/user">User</a>
                </li>

            </ul>

            <ul class="navbar-nav ml-md-auto d-md-flex">

                         <span class="text-white align-text-right">
                            <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                                        Logged in:<th:block th:text="${user.username}"/>
                            </span> |
                                        <a th:href="@{/logout}">Sign Out</a>
                        </span>
            </ul>
        </div>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>